﻿h3 {
	margin-bottom:2px;
	margin-top:2px;
	padding:0px;
}
h2 {
	margin-bottom:2px;
	margin-top:2px;
	padding:0px;
}


.QuoteTextBox {
    min-width:200px;
    max-width:200px;
    font-size:18px;
    min-height:15px;
    border: 1px solid black;
}
#TitleBlockContainer {
    border: 3px ridge gainsboro;
    width:300px;
    padding-left:5px;
    padding-top:3px;
}
#QuoteContainer {
    clear: both;

}

#QuotesTable {
    border-width:1px;
    border-color:#666666;
    border-collapse:collapse;
}
    #QuotesTable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }
    #QuotesTable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
