﻿@import "jquery.ui.base.css";
@import "jquery.ui.theme.css";


h1	{display:none}

body {
	
}
#pagewrapper {
	margin: auto; width: 1200px; height: auto;
}
#headerwrapper {
	margin: auto; width: 900px; height: 180px;
}
#logoblockwrapper {
	margin: 0px auto; width: 900px; height: 120px; padding-left: 30px;
}
#logoblock {
	margin: 20px; width: 375px; height: 78px; float: left; display: block;
}
#logoblock a img {
	border: currentColor; width: 375px; height: 78px;
}
#taglineblock {
	margin: 20px; width: 375px; height: 78px; font-family: "Tw Cen MT"; font-size: 34px; font-style: italic; font-variant: small-caps; font-weight: bold; float: left; display: block;
}
#contactlinewrapper {
	width: 900px; height: 40px; padding-left: 25px;
}
.numberblock {
	margin: 10px; width: 180px; text-align: center; float: left; display: block;
}
.emailblock {
	margin: 10px; width: 390px; text-align: center; float: left; display: block;
}
.emailblock a {
	font-size: 20px; text-decoration: none;
}
.emailblock a:hover {
	color: red; text-decoration: underline;
}
#contentwrapper {
	border-radius: 15px; width: 1200px; height: 70px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
}
#navbarwrapper {
	border-radius: 15px; border: double rgb(184, 0, 24); width: 1199px; height: 31px; padding-top: 0px; background-color: rgb(1, 54, 122); -moz-border-radius: 15px; -webkit-border-radius: 15px;
}
#navigationlist {
	border-radius: 15px; border: solid white; width: 1152px; height: 24px; margin-top: 0px; display: inline-table; list-style-type: none; list-style-position: inside; position: relative; -moz-border-radius: 15px; -webkit-border-radius: 15px;
}
#navbarwrapper ul::after {
	clear: both; display: block; content: "";
}
.navigationitem {
	border-radius: 5px; color: rgb(255, 255, 255); font-size: 18px; font-variant: small-caps; font-weight: bold; margin-top: auto; margin-right: 15px; margin-bottom: auto; float: left; display: inline-block; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.navigationitem:hover {
	border: thin groove white; background-color: rgb(184, 0, 24);
}
.navigationitem a {
	padding: 1px 2px; text-decoration: none; display: block;
}
.navigationitem a:link {
	color: white; text-decoration: none;
}
.navigationitem a:visited {
	color: white; text-decoration: none;
}
.navigationitem a:hover {
	color: white; text-decoration: none;
}
.navigationitem a:active {
	color: blue; text-decoration: none;
}
#navbarwrapper ul li:hover > ul {
	display: inline-table;
}
.subnavlist {
	padding: 0px; border-radius: 0px 0px 15px 15px; top: 25px; display: none; list-style-type: none; list-style-position: inside; position: absolute; background-color: rgb(1, 54, 122); -moz-border-radius: 0px 0px 15px 15px; -webkit-border-radius: 0px 0px 15px 15px;
}
h3 {
	padding: 0px; margin-top: 2px; margin-bottom: 2px;
}
h2 {
	padding: 0px; margin-top: 2px; margin-bottom: 2px;
}
.subnavitem {
	border-radius: 5px; clear: left; float: left; position: relative; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
subnavitem:hover {
	border: thin groove white; background-color: rgb(184, 0, 24);
}
.subnavitem a {
	padding: 5px 10px; display: block;
}
.subnavitem a:hover {
	border-radius: 5px; border: thin groove white; color: white; text-decoration: none; background-color: rgb(184, 0, 24); -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.imageblock {
	margin: 40px 65px 10px 30px; float: left; display: block;
}
.imageblock a img {
	border: currentColor; width: 225px; height: 148px;
}
#collateralwrapper {
	width: 1199px; height: 450px;
}
#collateralwrapper p {
	padding-right: 80px;
}
#collateralwrapper ul {
	padding-right: 80px;
}
#imageswrapper {
	margin: auto; width: 998px; height: 400px; overflow: auto; float: left; display: block;
}
#textcollateralwrapper {
	width: 199px; float: right; display: block;
}
#textcollateralwrapper p {
	padding-right: 5px; padding-left: 40px; white-space: pre-wrap;
}

.tablestyle {
	width: 100%; height: 100%; float: left; border-collapse: collapse;
}

.centered {
	text-align: center;
}


.buttonlikelook {
    border: thin ridge #000000;
    margin: auto;
    border-radius: 5px;
    color: #000000;
    font-size: 18px;
    font-variant: small-caps;
    font-weight: bold;
    float: none;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #D4D4D4;
}

.userGV td{
    padding:5px;
    font-size:16px;
}
.userGV th {
    padding: 5px;
    font-size: 18px;
}

.leftMargin {
    display: block;
    float: left;
    min-width: 5%;
    clear: both;
    min-height:750px;
    padding-left:5px;
    overflow:hidden;
    background-color:gainsboro;

}
.leftSide {
    display: block;
    float: left;
    width: 40%;
    
}
.onePage {
    display: block;
    float: left;
    width: 80%;
    
}
.reportcontainer{
        display: block;
    float: left;
    clear: left;
    border: 1px solid black;
    height: 320px;
    max-height: 320px;
    overflow: auto;
    min-width: 95%;
    width: 95%;
}

.projectGV {
    display: block;
    float: left;
    clear: left;
    border: 1px solid black;
    height: 320px;
    max-height: 320px;
    overflow: auto;
    min-width: 95%;
    width: 95%;
}
.projectinnergv {
    padding-left: 2px;
    padding-right: 2px;
    min-width: 100%;
    width: 100%;
    float:left;
}
    .projectinnergv:nth-child(n+1) {
        background-color: burlywood;
        font-size:9px;
    }

.gvprojectrow {
    font-size: 9px;
}
    .gvprojectrow td {
        font-size:9px;
    }
.maxWidth {
    max-width:150px;
    min-width:150px;
}
.projectSearch{
    display: block;
    float: left;
    clear: left;
    margin-top:10px;
    border:1px solid black;

}
.quoteSearch{
    display: block;
    float: left;
    clear: left;
    margin-top:10px;
    border:1px solid black;

}
.projectCreate {
    display: block;
    float: left;
    clear: left;
    margin-top:10px;
    border:1px solid black;
    background-color:lightgoldenrodyellow;
}
.rightSide {
    display: block;
    float: left;
    width: 50%;  
    padding-left:20px;
}
.quoteGV {
    display: block;
    float: left;
    clear: left;
    border: 1px solid black;
    height:150px;
    max-height:150px;
    overflow:auto;
}
.quoteSearch {
    display: block;
    float: left;
    clear: left;
    margin-top:10px;
}
.quoteCreate {
    display: block;
    float: left;
    clear: left;
    margin-top:10px;
}
.lineItemGV {
    display: block;
    float: left;
    clear: left;
    border: 1px solid black;
    width:95%;
    min-width:95%;
    height:400px;
    max-height:400px;
    overflow:auto;
}
.addLineItems {
    display: block;
    float: left;
    clear: left;
    margin-top:10px;
    width:100%;
}
.rightMargin {
    display: block;
    float: left;
    /*clear: right;*/
    min-width: 4%;
    height:750px;
    padding-left:5px;
    background-color:gainsboro;
}
.rpttable {
    width: 90%;
    float: left;
    display:block;
}
.pagenumbers {
    padding-left: 4px;
    width:70px;
    word-spacing:4px;
}
.rpttable div table tbody td div div div table tbody tr td table tbody tr td table tbody:nth-child(2) {
    display: none;
}
.addSpace {
    margin-bottom:3px;
}
.labelColumn {
    width:220px;
    display:inline-block;
}
.maxlabelcolumn {
    width:100px;
    display:inline-block;

    max-width:100px;
}
.infoLabels {
    display: block;
    float: left;
    clear: left;
}
.topSpacing {
    float:left;
    clear:both;
    min-height:20px;
    background-color:gainsboro;
    width:89%;
}
.colorMe {
    color: gainsboro;
    visibility:hidden;
}
.additionalQuoteDetails {
    display: block;
    float: right;
    clear: left;
    margin-top:10px;
    border:1px solid black;
    background-color:lightgoldenrodyellow;

}
.rightlabelcolumn {
    min-width:80%;
    width:80%;
    display:inline-block;
    float:right;
    text-align:right;
}
.sliderclass {
    width: 150px;
    min-width: 150px;
    display: inline-block;
    float: right;
}
.lineiteminnergv {
    width:inherit;
}
span.insetthis + * {
    float:right;
    width:150px;
    min-width:150px;
    max-width:150px;
    text-align:left;
}
.itemsgridstyle {
    max-height: 550px;
    height: 550px;
    overflow: scroll;
}
.duplicate {
    font-weight:bold;
    color:red;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}