﻿.accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.accordion-heading {
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    border-top: 1px solid #717171;
    /* inner stroke */
    border-bottom: 1px solid #CCC;
    /* inner stroke */
    background-color: #0000FF;
    /* layer fill content */
    list-style-type:none;
}
.accordion-heading a {
    color: #FFF;
    display: block;
    /* text color */
    text-shadow: 0 1px 0 #3b3b3b;
    /* drop shadow */
    text-decoration:none;
    font-weight:bold;
}
.accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b;
    /* inner stroke */
    background-color: #353535;
    /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%);
    /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%);
    /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%);
    /* gradient overlay */
    background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%);
    /* gradient overlay */
}
.accordion-inner {
    padding-left: 5px;
    border-top: 1px solid #504F4F;
    background-color: #C20544;
    color: #FFF;
}
.accordion-inner a {
    display: block;
    color: #FFF;
}
.accordion-inner a:hover {
    color: #5A0000;
    text-decoration: none;
}
.accordion-inner ul {
    list-style: none;
    margin: 0;
}
.accordion-inner ul li:first-child {
    border-top: none;
}
.accordion-inner ul li {
    min-height: 30px;
    line-height: 30px;
}
.accordion-inner ul.sub li {
    margin-left: 5px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul li {
    padding-left: 1em;
    text-indent: -1em;
}

ul li a:before {
    content: "\00BB";
    padding-right: 5px;
}
