﻿body {
    position: relative;
    background-color: #143546;
    font-family: Arial, Sans-Serif;
    margin: 0px auto;
    z-index: 99;
}

@media print {
    .noPrint {
        display: none;
    }
}

.floating {
    float: left;
    overflow: hidden;
}

.innerDiv {
    background-color: gainsboro;
    width: 1024px;
    min-height: 760px;
    overflow: hidden;
    text-align:center;
    margin: 0 auto;
}

.header {
    width: 1024px;
    background: #0000FF url('../images/banner_Main.png');
    background-repeat:no-repeat;
    background-size:contain;
    margin: 0;
    background-position:center;
    height: 100px;
}
.row500 {
    width:550px;
    margin: 4px auto;
}

.cell120 {
    width:120px;
    display:inline-block;
}

.cell240 {
    width:240px;
    display:inline-block;
}

.cell200 {
    width:200px;
    display:inline-block;
}

.alignLeft {
     text-align:left;
}

.cell290 {
    width:340px;
    text-align:right;
    padding-right:10px;
    font-weight:bold;
    display:inline-block;
}
.cell500 {
    width:500px;
    display:inline-block;
}

.blueText {
    color:#0000AA;
}

.redText {
    font-size:9pt;
    font-weight:bold;
    color:#FF0000;
}

.row1024 {
    width: 1024px;
    margin: 0 auto;
    text-align:center;
}

.cell874 {
    width: 795px;
    float:left;
    text-align: center;
}

.navigation {
    width: 200px;
    min-height: 660px;
    float: left;
    background-color:#0000FF;
    background-position: right;
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom:-99999px;
    padding-bottom:99999px;
    overflow:hidden;
}

    .navigation a {
        color: #ffffff;
    }

        .navigation a:hover {
            color: #ECFE6F;
        }

﻿.WaterMarkedTextBox {
    border-right: #ccccff thin solid;
    border-top: #ccccff thin solid;
    border-left: #ccccff thin solid;
    border-bottom: #ccccff thin solid;
    color: gray;
    display: inline;
    background: AliceBlue;
    visibility: visible;
}

.NormalTextBox {
    border-right: #ccccff thin solid;
    border-top: #ccccff thin solid;
    border-left: #ccccff thin solid;
    border-bottom: #ccccff thin solid;
    color: black;
    display: inline;
    background: #ffffff;
    visibility: visible;
}


/*CONTENDER BOX CSS*/

#contenderBox {
    width: 90%;
    height: 100%;
}

.contenderTile {
    float: left;
}

    .contenderTile:hover {
        cursor: pointer;
        background-color: #D0D0D0;
    }

.hidden {
    background-color: black;
    color: white;
    z-index: 1;
    width: 90%;
    height: 70%;
    max-height: 600px;
    position: absolute;
    top: -85%;
    border: 2px solid white;
    -webkit-box-shadow: 4px 4px 8px #000;
    box-shadow: 4px 4px 8px #000;
    margin-left: 5%;
    margin-right: 5%;
}

#contenderBox > .leftPanel {
    position: static;
    width: 65%;
    height: 100%;
    float: left;
}

#contenderBox > .rightPanel {
    position: static;
    height: 100%;
    width: 35%;
    float: right;
}

#contenderBox #aliasPanel {
    width: 50%;
    height: 60px;
    padding-top: .5em;
    padding-left: 2em;
    font-size: 3em;
    margin-bottom: .5em;
}

#contenderBox #industryPanel {
    width: 50%;
    height: 40px;
}

#contenderBox #locationPanel {
    width: 50%;
    height: 40px;
}

#contenderBox #bioPanel {
    width: 50%;
    height: 70px;
}

#contenderBox .lblCell {
    width: 30%;
    height: 100%;
    /*padding-left: 15px;*/
    float: left;
}

.inputCell {
    /*width: 100%;
*/}

.btnClose {
    position: absolute;
    right: 2em;
    top: 2em;
    width: 2em;
    height: 2em;
}

.btnCastVote {
    position: absolute;
    top: 1em;
    left: 45%;
}

.commentPanel {
    width: 70%;
    margin: 20% 15% 0% 3%;
    border: 1px solid white;
    padding: 2em;
}

    .commentPanel > .row {
        width: 100%;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .commentPanel > .textRow {
        width: 100%;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .commentPanel > .row > .labelCell {
        float: left;
        width: 30%;
    }

    .commentPanel > .textRow > .labelCell {
        float: left;
        width: 30%;
    }

    .commentPanel > .btnRow {
        padding-left: 0%;
    }


/* Dropdown Signin */
.nav
{
	min-height: 70px;
	line-height: 70px;
}
.sign-in
{
	min-width: 250px;
    height: 155px;
	padding-bottom: 0;
	padding: 15px;
}
.sign-in FORM
{
	margin-bottom: -40px;
}
.sign-in .form-control
{
	margin-bottom: 10px;
}
.sign-in .btn
{
	margin-top: -40px;
	width: 100%;
}
.navbar-nav LI A:hover
{
	background-color: #5A0000 !important;
	color: #FFFFFF !important;
}
.navbar-nav LI A:focus
{
	background-color: #5A0000 !important;
	color: #FFFFFF !important;
}
.navbar-nav LI.active A
{
	background-color: #0000FF !important;
	color: #FFFFFF !important;
}
.navbar-nav LI A
{
	height: 100px;
    line-height: 100px;
    color: white;
    background-color: #0000FF;
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-nav > .open > A, .navbar-default .navbar-nav > .open > A:hover, .navbar-default .navbar-nav > .open > A:focus
{
	background-color: #0000FF !important;
	color: #FFFFFF !important;
}
.dropdown-menu LI A:hover
{
	background-color: #0000FF !important;
	color: #FFFFFF !important;
}

/*-- BUTTON STYLES --*/
.btn-primary
{
	color: #FFF;
	background-color: #0000FF;
	border-color: #5A0000;
}
.btn-primary:hover
{
	color: #FFF;
	background-color: #5A0000;
	border-color: #5A0000;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

